<% if notice %>
  <div class="alert alert-info" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div class="page-header">
    <h1>京都女子大学現代社会学部ゼミ配属希望調査サイト</h1>    
</div>

<% @announcements.each do |a| %>
  <% if visible?(a) %>
    <div class="info">
      <%= markdown(a.contents).html_safe %>
    </div>
  <% end %>
<% end %>
