<div class="well">
  <p>
    <strong>Name:</strong>
    <%= @subject.name %>
  </p>
  <p>
    <strong>Grade:</strong>
    <%= @subject.grade %>
  </p>
</div>

<%= link_to t(:edit), edit_subject_path(@subject) %> |
<%= link_to t(:back), subjects_path %>
